tr.avoir td
{
    background: linear-gradient(45deg, transparent 49%, #ddd 50%, transparent 51%);
    background-size: 10px 10px;
}

.bouton a,
a.bouton
{
    text-decoration: none;
    color: var(--colorGrey1);
}
.bouton
{
    padding: 3px 5px;
    color: var(--colorGrey1);
    background-color: var(--colorGrey3);
    border: none;
    margin: 2px;
    font-size: 1em;
}